<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

    <div class="general-subhead">
        <h2>CONTACT US</h2>
    </div>
    <!--./ Gereral Subhead End -->
    <section class="section-divider5 textdivider5 divider5">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4  col-sm-4">
                    <h3>Support</h3>
                    <span class="fa fa-mobile fa-4x color-linkedin"></span><span class="fa font_1p5">&nbsp;+91 987 469 1177  <br />&nbsp;+91 740 699 8067</span>
                    <br />
                    <span class="fa fa-envelope fa-2x color-linkedin">&nbsp;<a href="mailto:info@rupeevest.com">info@rupeevest.com</a></span>

                    <h3>Headquarters</h3>
                    <p>
                        RupeeVest <br />
                        Room No-81, 5th Floor, <br />
                        Stephen House, BBD Bag, <br />
                        Kolkata-700001, India. <br />                        
                    </p>                    
                    
                </div>
                <div class="col-lg-8 col-md-8  col-sm-8">
                    
                    <h3>Drop In A Message</h3> 
                <!-- <span>
                      <%= form_for @contact do |f| %>
                      <%= f.label :name %>:
                      <%= f.text_field :name %><br />

                      <%= f.label :email %>:
                      <%= f.text_field :email %><br />

                      <%= f.label :phone %>:
                      <%= f.text_field :phone %><br />
                      <%= f.label :message %>:
                      <%= f.text_field :message %><br />

                      <%= f.submit %>
                    <% end %>
                </span> -->
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" tabindex="1" placeholder="Name" pattern="[a-zA-Z. ]{1,50}" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" required="required" tabindex="2" placeholder="Mobile" pattern="[0-9]{10}" maxlength="10" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" required="required" tabindex="3" placeholder="Email address" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" required="required" tabindex="4" class="form-control" rows="4" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 row">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                <div class="col-sm-10">
                                    <a href="https://www.facebook.com/rupeevest" target="_blank"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                    <a href="https://www.twitter.com/RupeeVest" target="_blank"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                    <a href="https://plus.google.com/+Rupeevestdotcom" target="_blank"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                    <a href="https://www.linkedin.com/company/rupeevest/" target="_blank"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                    <a href=" https://www.pinterest.com/rupeevest/" target="_blank"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>

            </div>
        </div>

    </section>
    <!--./ Main Contact end -->
    <div>
        <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7368.406790008554!2d88.3510929!3d22.57149489999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277bb17877ce5%3A0xfcb414d28124af57!2sRupeeVest+-+India&#39;s+first+self-help+online+investment+platform!5e0!3m2!1sen!2sin!4v1409057209819"></iframe>
    </div>
    <!--./ Map end -->
    
     
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
    <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>

</body>
</html>
