<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

    <div class="general-subhead">
        <h2>CONTACT US</h2>
    </div>
    <!--./ Gereral Subhead End -->
    <section class="section-divider5 textdivider5 divider5">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4  col-sm-4">
                    <h3>Support</h3>
                    <span class="fa fa-mobile fa-4x color-linkedin"></span><span class="fa font_1p5">&nbsp;+91 987 469 1177  <br />&nbsp;+91 905 174 5006</span>
                    <br />
                    <span class="fa fa-envelope fa-2x color-linkedin">&nbsp;<a href="mailto:info@rupeevest.com">info@rupeevest.com</a></span>

                    <h3>Headquarters</h3>
                    <p>
                        RupeeVest <br />
                        Room No-81, 5th Floor, <br />
                        Stephen House, BBD Bag, <br />
                        Kolkata-700001, India. <br />                        
                    </p>                    
                    
                </div>
                <div class="col-lg-8 col-md-8  col-sm-8">
                    
                    <h3>Drop in a message</h3> 
                
                      <%= form_for @contact do |f| %>
                      <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <%= f.text_field :name, type: 'text', class: 'form-control', required: true, placeholder: 'Name',tabindex: '1', pattern: '[a-zA-Z. ]{1,50}'  %>
                                </div>                                
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <%= f.text_field :phone, type: 'tel', class: 'form-control', required: true, placeholder: 'Mobile',tabindex: '2', pattern: '[0-9]{10}', maxlength: '10' %>
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <%= f.text_field :email, type: 'email', class: 'form-control', required: true, placeholder: 'Email address',tabindex: '3' %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <%= f.text_area :message, type: 'text', rows: '4', class: 'form-control', placeholder: 'Message',tabindex: '4' %>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 row">
                                    <%= f.submit 'Send', :class => 'btn btn-primary', tabindex: "5" %>
                                    </div>
                                <div class="col-sm-10">
                                    <a href="https://www.facebook.com/rupeevest" target="_blank"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                    <a href="https://www.twitter.com/RupeeVest" target="_blank"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                    <a href="https://plus.google.com/+Rupeevestdotcom" target="_blank"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                    <a href="https://www.linkedin.com/company/rupeevest/" target="_blank"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                    <a href=" https://www.pinterest.com/rupeevest/" target="_blank"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
                    </div>
                                </div>
                            </div>
                        </div>
                      
                    <% end %>
                
                    
                    
                </div>

            </div>
        </div>

    </section>
    <!--./ Main Contact end -->
    <div>
        <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7368.406790008554!2d88.3510929!3d22.57149489999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277bb17877ce5%3A0xfcb414d28124af57!2sRupeeVest+-+India&#39;s+first+self-help+online+investment+platform!5e0!3m2!1sen!2sin!4v1409057209819"></iframe>
    </div>
    <!--./ Map end -->
    
     
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
    

</body>
</html>
