<% meta title: "RupeeVest | Investing made easier",
          description: "India's first self-help investment platform to invest online in a portfolio of Top Performing Mutual Funds, FD's, NCD's, Corporate Deposits and many more."
  %>
<% metamagic keywords: [:keywords, "Mutual Fund", "MF Investment India", "Best Funds to Buy", "Invest online in mutual funds", "Investing in Mutual Funds", "Top mutual funds", "Best mutual funds", "Tax saving mutual funds", "80c Investment", "Portfolio Management", "Financial Planning", "Returns Calculator", "Compare Funds", "Indian Mutual Funds", "Best Funds", "Tax efficient investing", "Equities", "Fixed Deposit", "Corporate Deposits", "FDs", "NCDs", "Investment Strategy"] %>
<% meta copyright: "RupeeVest" %>
<% meta owner: "RupeeVest" %>
<% meta author: "RupeeVest" %>
<% meta distribution: "global" %>
<% meta rating: "general" %>
<% meta rel: { canonical: "http://www.rupeevest.com/" } %>

<% if flash[:notice_invest] -%>
    <script type="text/javascript">    
      $(window).load(function(){
          $('#myModal_investor_message').modal('show');
      });
    </script>
<% end -%>

    <!-- MODAL INVESTOR DETAILS FOR HOME PAGE-->

    <div class="modal fade" id="myModal_investor_home" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog pad_modal">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tell us about yourself so we can advice best!</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-sm-12">

    <%= form_tag investor_home_contact_path, class: "form-horizontal" do  %>

        <div class="form-group">                
            <label class="col-sm-3">Age</label>
            <div class="col-sm-9 col-lg-9">
            <%= text_field_tag "investor[age]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter Your Age',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="col-sm-3">Earning</label>
            <div class="col-sm-9 col-lg-9">
            <%= text_field_tag "investor[earn]", nil, type:"text", tabindex: "2", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'In Rupees',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="col-sm-3">Risk appetite</label>
            <div class="col-sm-9 col-lg-9">
            <%= select_tag "investor[appetite]", options_for_select(["Conservative","Moderately Conservative","Moderately Aggressive","Aggressive","Very Aggressive"]), tabindex: "3", class: "form-control" %>
            </div>
        </div>
        <div class="row">
            <div class="actions button_warning">
                <div class="col-sm-3 col-lg-3"></div>
                <div class="col-xs-5 col-sm-3 col-lg-3">
                <%= submit_tag 'Submit', :class => 'btn btn-warning btn-block', tabindex: "4" %>
                </div>
                
                <div class="col-xs-2 col-sm-3 col-lg-4"></div>
            </div> 
        </div>                     
     <% end %> 

                      </div>
                  </div>  
              
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
          </div>
      </div>
    </div>

<!--  MODAL INVESTOR DETAILS FOR HOME PAGE -->

   
    <div id="main-slider">

        <div id="carousel-example" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">

                <div class="item active">
                    <img class="hidden-xs" src="/assets/banner/slide1.jpg" alt="" />
                    <img class="hidden-sm hidden-md hidden-lg" src="/assets/banner/m_slide1.jpg" alt="" />
                    <div class="col-lg-6 col-lg-push-1">
                    <div class="carousel-caption pad-bot ">
                        <h3 class="slide1_cap">Proper financial planning can help you grow your money
so, invest before it's too late
                        </h3>
                    </div>
                    </div>
                </div>

                <div class="item">
                    <img class="hidden-xs" src="/assets/banner/slide2.jpg" alt="" />
                    <img class="hidden-sm hidden-md hidden-lg" src="/assets/banner/m_slide2.jpg" alt="" />
                    <div class="col-lg-6 col-lg-push-1">
                    <div class="carousel-caption pad-bot">
                        <h3 class="slide2_cap text-left">Confused?<br>Now Plan your taxes effectively
                        </h3>
                    </div>
                    </div>
                </div>

                <div class="item">
                    <img class="hidden-xs" src="/assets/banner/slide3.jpg" alt="" />
                    <img class="hidden-sm hidden-md hidden-lg" src="/assets/banner/m_slide3.jpg" alt="" />
                    <div class="col-lg-6 col-lg-push-1">
                    <div class="carousel-caption pad-bot">
                        <h3 class="slide3_cap text-left"> Invest online now </h3>
                            <h4 class="text-left">Hassle free investments</h4>
                            <h4 class="text-left">No paperwork</h4>
                            <h4 class="text-left">Save time</h4>                        
                    </div>
                    </div>
                </div>

            </div>
            <!--INDICATORS-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
            </ol>
            <!--PREVIUS-NEXT BUTTONS-->
            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                <i class="fa fa-angle-left fa-3x control-icon clr-main"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                <i class="fa fa-angle-right fa-3x control-icon clr-main"></i>
            </a>
        </div>

    </div>
    <!--./ Main Slider End -->
    <div id="welocme-note">
        <div class="welcome-div">            
            <i class="fa fa-sign-in fa-2x"></i><span>INDIA'S FIRST SELF-HELP INVESTMENT PLATFORM</span>
        </div>
    </div>
    <!-- <div id="welocme-note">

        <div class="welcome-div">
            <% if user_signed_in? %>
                <i class="fa fa-sign-in fa-2x"></i><span>INDIA'S FIRST SELF-HELP INVESTMENT PLATFORM</span><span> <a href="/invest"> <button class="btn btn-warning" type="button">TRY IT NOW!</button></a></span>
            <% else %>
                <i class="fa fa-sign-in fa-2x"></i><span>INDIA'S FIRST SELF-HELP INVESTMENT PLATFORM</span><span> <a href="/users/sign_in"> <button class="btn btn-warning" type="button">TRY IT NOW!</button></a></span>
            <% end %>
        </div>

    </div> -->
    <!--./ Welcome Section End -->
    
    <!-- Invest now button -->
    <div class="col-sm-12 text-center pad_top2">
                <div class="button_warning">
                <% if user_signed_in? %>            
              
            <% if current_user.status == 1 %>
                <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 2 %>
                <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 3 %>
             <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
            <% end %>

                <% else %>

                <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                <% end %>
                </div>

    </div>
    
    <!--./ Home Service End -->
    <section id="service-info">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 col-md-12">
                    <h3><strong>Why RupeeVest? </strong></h3>
                </div>
            </div>
            <div class="row pad-top-botm">
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div>
                            <span class=" fa fa-star fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>Truly Unbiased Advice</h3>
                            <p class="text-justify text_cen">We offer only the top quartile funds over the last decade that ensures higher returns to investors.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div class="text-center">
                            <span class="fa fa-ban fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>No Paperwork</h3>
                            <p class="text-justify text_cen">You can choose the time to invest or switch schemes and redeem with just a click. Takes less time and is more efficient.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div class="text-center">
                            <span class="fa fa-lightbulb-o fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>Invest Better</h3>
                            <p class="text-justify text_cen">
                                Financial and Math Experts have designed this super-efficient way to invest.
                            </p>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div class="text-center">
                            <span class="fa fa-lock fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>Safety</h3>
                            <p class="text-justify text_cen">We ensure transactional safety with state of art technology. We are registered with AMFI as a licensed distributor of Mutual Funds.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div class="text-center">
                            <span class=" fa fa-university fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>Build Wealth</h3>
                            <p class="text-justify text_cen">
                                Invest in an optimal portfolio to build wealth for the long run.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div class="text-center">
                            <span class="fa fa-clock-o fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>Save Time</h3>
                            <p class="text-justify text_cen">
                                Stop signing cheques. Stop trusting agents. Invest Online!
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div class="text-center">
                            <span class="fa fa-inr fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>Save Tax</h3>
                            <p class="text-justify text_cen">
                                RupeeVest will help you tax efficient investments. Tax Saving was never easier.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="text-center">
                        <div class="text-center">
                            <span class="fa fa-money fa-4x color-facebook"></span>
                        </div>
                        <div>
                            <h3>No Charges</h3>
                            <p class="text-justify text_cen">What you buy is what you pay for our advice is free.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Invest now button -->
                <div class="col-sm-12 text-center pad_top2">
                    <div class="button_warning">
                            <% if user_signed_in? %>            
                          
                        <% if current_user.status == 1 %>
                            <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
                        <% elsif current_user.status == 2 %>
                            <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
                        <% elsif current_user.status == 3 %>
                         <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
                        <% end %>

                            <% else %>

                        <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                            <% end %>
                    </div>
                </div>
            </div>

            
        </div>
    </section>

    
    

    <section id="home-service" style="margin-top:20px;">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 col-md-12">
                    <h3><strong>Highlights</strong></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-md-4  col-sm-4">
                    <%= link_to(image_tag("/assets/home_resource_top.png", class: 'image_responsive'), top_funds_path,  :method => :get) %>
                    <%= link_to "<h4><strong>Top Funds</strong></h4>".html_safe, top_funds_path, :method => :get %>
                    <h5>Our selection of the best available funds in different asset classes</h5>                  
                </div>
                <div class="col-lg-4 col-md-4  col-sm-4">
                    <%= link_to(image_tag("/assets/home_resource_risk.png", class: 'image_responsive'), risk_profiling_path,  :method => :get) %>
                    <%= link_to "<h4><strong>Optimum Portfolio</strong></h4>".html_safe, risk_profiling_path, :method => :get %>                    
                    <h5>Our suggested asset allocation based on the investors risk appetite</h5>                   
                </div>
                <div class="col-lg-4 col-md-4  col-sm-4">
                    <%= link_to(image_tag("/assets/home_resource_exp.png", class: 'image_responsive'), return_expectation_path,  :method => :get) %>
                    <%= link_to "<h4><strong>Investment Strategy</strong></h4>".html_safe, return_expectation_path, :method => :get %>
                    <h5>Asset classes to invest in depending on the investors return expectations</h5>
                </div>
            </div>
        </div>
    </section>

    <h1><a id="testi"></a></h1>
    <div class="middle-section">
        <div class="container">
            <div class="row" id="testimon">
                <div class="col-lg-12 col-md-12 ">
                    <h1>Testimonials</h1>
                    <div id="testimonials" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#testimonials" data-slide-to="0" class=""></li>
                            <li data-target="#testimonials" data-slide-to="1" class=""></li>
                            <li data-target="#testimonials" data-slide-to="2" class=""></li>
                            <li data-target="#testimonials" data-slide-to="3" class="active"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item">
                                <div class="container center">
                                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 slide-custom">

                                        <h4><i class="fa fa-quote-left"></i>Switching to Rupeevest as my investor doubled my returns. They give sincere and honest opinion making investing transparent and effortless.<i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
                                            <img src="/assets/team/shashank.png" alt="" class="img-u image-responsive" />
                                        </div>
                                        <h5 class="pull-right"><strong class="c-black">Shashank Gupta</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container center">
                                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 slide-custom">

                                        <h4><i class="fa fa-quote-left"></i>All thanks to RupeeVest for making my investments simple and efficient. Your honest opinion helped me overcome my previous failures with mutual funds. <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
                                            <img src="/assets/team/blank_male.jpg" alt="" class="img-u image-responsive" />
                                        </div>
                                        <h5 class="pull-right"><strong class="c-black">Abhishek Mishra</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container center">
                                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 slide-custom">
                                        <h4><i class="fa fa-quote-left"></i>I had a difficult time understanding which funds are right for me. But you guys made it just so easy. Thank you guys for your great advice. <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
                                            <img src="/assets/team/blank_male.jpg" alt="" class="img-u image-responsive" />
                                        </div>
                                        <h5 class="pull-right"><strong class="c-black">Manas Sharma</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="container center">
                                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 slide-custom">
                                        <h4><i class="fa fa-quote-left"></i>If you want to invest carefree, my only suggestion is RupeeVest. All I had to do was trust them. Now my investment life has become a lot more simpler. <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
                                            <img src="/assets/team/blank_female.jpg" alt="" class="img-u image-responsive" />
                                        </div>
                                        <h5 class="pull-right"><strong class="c-black">Priyanka Singh</strong></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--./ Testimonials End -->
    <!-- Invest now button -->
    <div class="col-sm-12 text-center pad_top2">
        <div class="button_warning">
                <% if user_signed_in? %>            
              
            <% if current_user.status == 1 %>
                <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 2 %>
                <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 3 %>
             <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
            <% end %>

                <% else %>

                <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                <% end %>
        </div>
    </div>
    <section id="service-info">
        <div class="container">
            
            

            <div class="row pad-top-botm ">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <iframe class="vedio-style" src="//www.youtube.com/embed/DqrN2kWPzPo?rel=0" ></iframe>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span class="fa fa-rss"></span>
                            <span><b>From the blog-</b></span>
                            <small>Issued in the interest of wealth of the Indian Middle Class! – Presented by RupeeVest.com</small>
                            <div id="blog-footer-div">
                                <!-- <div class="media">
                                    <div class="pull-left">
                                        <img src="/assets/team/raghav.png" class="img-rounded" alt=""  />
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading"><a href="http://dhanhitmejari.in/how-to-buy-a-health-insurance-policy/" target="_blank">How To Buy A Health Insurance Policy?</a></span>
                                        <small class="muted">Published November 18, 2014 by Raghav</small>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img src="/assets/team/raghav.png" class="img-rounded" alt=""/>
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading"><a href="http://dhanhitmejari.in/which-is-profitable-ulips-or-mutual-funds/" target="_blank">Which is Profitable- ULIPS or Mutual Funds?</a></span>
                                        <small class="muted">Published November 13, 2014 by Raghav</small>
                                    </div>
                                </div> -->
                                <!-- start feedwind code --><script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script><script type="text/javascript">(function() {var params = {rssmikle_url: "http://dhanhitmejari.in/",rssmikle_frame_width: "300",rssmikle_frame_height: "400",frame_height_by_article: "2",rssmikle_target: "_blank",rssmikle_font: "Arial, Helvetica, sans-serif",rssmikle_font_size: "12",rssmikle_border: "off",responsive: "on",rssmikle_css_url: "",text_align: "left",text_align2: "justify",corner: "off",scrollbar: "off",autoscroll: "off",scrolldirection: "up",scrollstep: "3",mcspeed: "20",sort: "New",rssmikle_title: "off",rssmikle_title_sentence: "",rssmikle_title_link: "",rssmikle_title_bgcolor: "#0066FF",rssmikle_title_color: "#FFFFFF",rssmikle_title_bgimage: "",rssmikle_item_bgcolor: "#F7F7F7",rssmikle_item_bgimage: "",rssmikle_item_title_length: "75",rssmikle_item_title_color: "#0066FF",rssmikle_item_border_bottom: "on",rssmikle_item_description: "title_only",item_link: "on",rssmikle_item_description_length: "150",rssmikle_item_description_color: "#666666",rssmikle_item_date: "gl1",rssmikle_timezone: "Etc/GMT",datetime_format: "%b %e, %Y %l:%M:%S %p",item_description_style: "text",item_thumbnail: "full",article_num: "15",rssmikle_item_podcast: "off",keyword_inc: "",keyword_exc: ""};feedwind_show_widget_iframe(params);})();</script><!-- end feedwind code -->
                            </div>
                            <div class="row col-sm-12 hidden-xs hidden-md hidden-lg">                        
                        <%= form_for @contact do |f| %>
                            <div class="input-group">
                                <%= f.text_field :subscribe, type: 'email', class: 'form-control', required: true, placeholder: 'Email address', autocomplete: 'off', tabindex: '1' %>
                                <span class="input-group-btn">
                                    <%= f.submit 'Subscribe', :class => 'btn btn-primary', tabindex: "2" %>
                                </span>
                            </div>                      
                        <% end %> 
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">                                
                                <iframe class="image_responsive" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Frupeevest&amp;width=260&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden;width: 260px; height:260px;" allowTransparency="true"></iframe>                            
                        </div>
                        <div class="col-lg-12 col-md-12 hidden-sm">
                        
                        <%= form_for @contact do |f| %>
                            <div class="input-group sub_width">
                                <%= f.text_field :subscribe, type: 'email', class: 'form-control', required: true, placeholder: 'Email address', autocomplete: 'off', tabindex: '1' %>
                                <span class="input-group-btn">
                                    <%= f.submit 'Subscribe', :class => 'btn btn-primary', tabindex: "2" %>
                                </span>
                            </div>                      
                        <% end %>   
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--./ Service info Section End -->
  <!--   <div class="just-stats">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-3 ">
                    <div class="stats-div">
                        <i class="fa fa-rocket fa-5x"></i>
                        <h3>3000+</h3>
                        <h4>Projects</h4>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 ">
                    <div class="stats-div">
                        <i class="fa fa-globe fa-5x"></i>
                        <h3>149+</h3>
                        <h4>Countries</h4>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 ">

                    <div class="stats-div">
                        <i class="fa fa-building fa-5x"></i>
                        <h3>250 +</h3>
                        <h4>Offices</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 ">
                    <div class="stats-div">
                        <i class="fa fa-comments-o fa-5x"></i>
                        <h3>1305+</h3>
                        <h4>Clients</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--./ stats div end -->
      <!-- <div id="media-sec">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12" >
                    <div class="text-center">
                        <h3>WHAT MEDIA SAY'S ABOUT US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. </p>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. </p>
                        <small>Consectetur adipiscing elit</small>
                    </blockquote>

                </div>
                <div class="col-lg-6 col-md-6">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. </p>
                        <small>Consectetur adipiscing elit</small>
                    </blockquote>

                </div>
            </div>

        </div>

    </div> -->
    <!--./ Media Section End -->
   
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
   <% if user_signed_in? %>
    <% if current_user.status == 1 %>
        <script type="text/javascript">
        $(window).load(function(){
            $('#myModal_investor').modal('show');
        });
        </script>
    <% elsif current_user.status == 2 %>
        <script type="text/javascript">
        $(window).load(function(){
            $('#myModal_investor_message').modal('show');
        });
        </script>
    <% elsif current_user.status == 3 %>
        <script type="text/javascript">
        $(window).load(function(){
            $('#myModal_investor_invest').modal('show');
        });
        </script>
        <% end %>
    <% end %>