<% meta title: "RupeeVest | New Funds",
          description: "New mutual funds are available for investment."
  %>
<% metamagic keywords: [:keywords, "New Mutual Funds, New Funds, Suggest best funds, Selection of best mutual funds, Equity, Equities, Fixed Deposit, FD, FDs, Bonds, NCDs, Non Convertible Debentures, Debt, Debt Mutual Funds, Hybrid Mutual Funds, Thematic Mutual Funds, How to select best mutual funds, Funds by best fund managers, Best portfolio of Mutual Fund, MF Investment India, Best Funds to Buy, Invest online in mutual funds, Investing in Mutual Funds, Top mutual funds, Best mutual funds, Indian Mutual Funds, Best Funds, Corporate Deposits"] %>

<% content_for :margin_top do %>
class="mar_top135px"
<% end %>

    <% if flash[:notice_invest] -%>
        <script type="text/javascript">    
          $(window).load(function(){
              $('#myModal_investor_message').modal('show');
          });
        </script>
    <% end -%>

   <section class="general-subhead_bg fixed_top">
        <div class="container">
           <div class="general-subhead">
               <h2>NEW FUNDS</h2>
               <div class="row">
                  <div class="col-sm-12" id="offer_list">          
                      <span>|&nbsp;</span><a href="#o_fd">FIXED DEPOSIT</a>
                      <span>|&nbsp;</span><a href="#o_bd">BONDS AND NCDs'</a>
                      <span>|&nbsp;</span><a href="#o_mfe">MUTUAL FUNDS : EQUITY</a>
                      <span>|&nbsp;</span><a href="#o_mfd">MUTUAL FUNDS : DEBT</a>
                      <span>|&nbsp;</span><a href="#o_mfh">MUTUAL FUNDS : HYBRID</a>
                      <span>|&nbsp;</span><a href="#o_mft">MUTUAL FUNDS : THEMATIC</a>
                      <span>|</span>
                  </div>
                </div>
           </div>
        </div>
    </section>
   
     <!-- Gereral Subhead End -->
    <section>
        <div class="container">          
            <div class="row button_warning">
              <div class="col-sm-12 column text-justify offer_body">        
              
        <a id="o_fd"></a>

          <div class="row">
                  <div class="col-sm-12 column">
                    <h2 class="pad_top1">Fixed Deposit</h2>
                  </div>                

                  <div class="col-md-8 column">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th class="col-md-5">NEW FUNDS</th>                        
                            <th class="text-center col-md-3">DOWNLOAD</th>                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="active">                        
                            <td>No Update</td>                            
                            <td class="text-center"><!-- <button type="button" class="btn btn-warning btn-sm"><%= link_to 'PDF', fd_download_pdf_path, class: "color_white" %> <i class="fa fa-download"></i></button> --></td>                        
                          </tr>
                        </tbody>
                      </table>
                  </div>  
          </div>

        <a id="o_bd"></a>
              <div class="row">
                  <div class="col-sm-12 column">
                    <h2>Bonds And Non-Convertible Debentures’</h2>
                  </div>
                  
                  <div class="col-md-8 column">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th class="col-md-5">NEW FUNDS</th>                        
                            <th class="text-center col-md-3">DOWNLOAD</th>                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="active">                        
                            <td>No Update</td>
                            <td class="text-center"><!-- <button type="button" class="btn btn-warning btn-sm"><%= link_to 'PDF', bd_download_pdf_path, class: "color_white" %> <i class="fa fa-download"></i></button> --></td>                       
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>        
                
        <a id="o_mfe"></a>        
              <div class="row">
                  <div class="col-sm-12 column">
                    <h2>Mutual Funds: Equity</h2>
                  </div>
                  
                  <div class="col-md-8 column">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th class="col-md-5">NEW FUNDS</th>                        
                            <th class="text-center col-md-3">DOWNLOAD</th>                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="active">                        
                            <td>No Update</td>                            
                            <td class="text-center"><!-- <button type="button" class="btn btn-warning btn-sm"><%= link_to 'PDF', mfe_download_pdf_path, class: "color_white" %> <i class="fa fa-download"></i> --></button></td>                        
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>

        <a id="o_mfd"></a>        
              <div class="row">
                  <div class="col-sm-12 column">
                    <h2>Mutual Funds: Debt</h2>
                  </div>
                  
                  <div class="col-md-8 column">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th class="col-md-5">NEW FUNDS</th>                        
                            <th class="text-center col-md-3">DOWNLOAD</th>                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="active">                        
                            <td>ICICI Regular Savings Fund</td>                            
                            <td class="text-center"><button type="button" class="btn btn-warning btn-sm"><%= link_to 'PDF', mfd_download_pdf_path, class: "color_white" %> <i class="fa fa-download"></i></button></td>                        
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>

        <a id="o_mfh"></a>        
              <div class="row">
                  <div class="col-sm-12 column">
                    <h2>Mutual Funds: Hybrid</h2>
                  </div>
                  
                  <div class="col-md-8 column">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th class="col-md-5">NEW FUNDS</th>                        
                            <th class="text-center col-md-3">DOWNLOAD</th>                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="active">                        
                            <td>No Update</td>                            
                            <td class="text-center"><!-- <button type="button" class="btn btn-warning btn-sm"><%= link_to 'PDF', mfh_download_pdf_path, class: "color_white" %> <i class="fa fa-download"></i></button> --></td>                        
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>

          <a id="o_mft"></a>        
              <div class="row">
                  <div class="col-sm-12 column">
                    <h2>Mutual Funds: Thematic</h2>
                  </div>
                  
                  <div class="col-md-8 column">
                      <table class="table table-bordered table-condensed">
                        <thead>
                          <tr>
                            <th class="col-md-5">NEW FUNDS</th>                        
                            <th class="text-center col-md-3">DOWNLOAD</th>                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="active">                        
                            <td>Reliance Retirement Fund</td>                            
                            <td class="text-center"><button type="button" class="btn btn-warning btn-sm"><%= link_to 'PDF', mft_download_pdf_path, class: "color_white" %> <i class="fa fa-download"></i></button></td>                        
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
               

              </div>
            </div>
        </div>
    </section>

    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>
       


