<% meta title: "RupeeVest | Sign In",
          description: "RupeeVest - Login Page for Investors. Login for Invest in Mutual Funds, Equities, Debt, FDs, Bonds, NCDs'. Consolidated Online Investments and Statements."
  %>
<% metamagic keywords: [:keywords, "Online investment login, Rupeevest login, Rupeevest signin,  Investment login, Signin to rupeevest, Login to investment, Signin to investment, login, Signin"] %>

   <section class="general-subhead_bg">
        <div class="container">
           <div class="general-subhead">
               <h2>SIGN IN</h2>
           </div>
        </div>
    </section>
        
    <section >
        <div class="container">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row">                    
                    <div class="row ">
                        <div class="col-sm-12 text-center">
                          <%- if devise_mapping.omniauthable? %>                            
                              <%= link_to image_tag("login_facebook1.png", class: "image_responsive", alt: "Facebook login"), omniauth_authorize_path(resource_name, :facebook)  %>
                          <% end -%>                            
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12 text-center">
                            <h4>OR</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center"> 
                          <%- if devise_mapping.omniauthable? %>                            
                              <%= link_to image_tag("login_google.png", class: "image_responsive", alt: "Google Login"), omniauth_authorize_path(resource_name, :google_oauth2)  %>
                          <% end -%> 
                        </div> 
                    </div>  
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div> 
    </section>
       

    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/custom.js"></script>
   

   <!-- <div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>  -->
 
<!-- <div>
  <%= render "devise/shared/links" %>
 </div> -->  