
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>    
    <title>RupeeVest | Sign In</title>
    <meta name="description" content="RupeeVest - Login Page for Investors. Login for Invest in Mutual Funds, Equities, Debt, FDs, Bonds, NCDs'. Consolidated Online Investments and Statements">
    <meta name="keywords" content="Online investment login, Rupeevest login, Rupeevest signin,  Investment login, Signin to rupeevest, Login to investment, Signin to investment, login, Signin">
    <meta name="author" content="RupeeVest">
</head>
<body>
   <section class="general-subhead_bg">
        <div class="container">
           <div class="general-subhead">
               <h2>SIGN IN</h2>
           </div>
        </div>
    </section>
     <!--./ Gereral Subhead End -->
    
    <section >
        <div class="container">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row">                    
                    <div class="row ">
                        <div class="col-sm-12 text-center">
                          <%- if devise_mapping.omniauthable? %>                            
                              <%= link_to image_tag("login_facebook1.png", class: "image_responsive", alt: "Facebook login"), omniauth_authorize_path(resource_name, :facebook)  %>
                          <% end -%>                            
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12 text-center">
                            <h4>OR</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center"> 
                          <%- if devise_mapping.omniauthable? %>                            
                              <%= link_to image_tag("login_google.png", class: "image_responsive", alt: "Google Login"), omniauth_authorize_path(resource_name, :google_oauth2)  %>
                          <% end -%> 
                        </div> 
                    </div>  
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div> 
    </section>
       

    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
   
</body>
</html>
   <!-- <div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>  -->
 
<!-- <div>
  <%= render "devise/shared/links" %>
 </div> -->  