<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <link rel="icon" type="image/ico" href="/assets/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>RupeeVest - Online investment, Tax filing, Mutual Fund investment</title>
    <!--  Bootstrap Style -->
    <link href="/assets/bootstrap.css" rel="stylesheet" />
     <!--  Font-Awesome Style -->
    <link href="/assets/font-awesome.min.css" rel="stylesheet" />
     <!--  Font-Awesome Animation Style -->
    <link href="/assets/font-awesome-animation.css" rel="stylesheet" />
     <!--  Pretty Photo Style -->
    <link href="/assets/prettyPhoto.css" rel="stylesheet" />
        <!--  Google Font Style -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!--  Custom Style -->
    <link href="/assets/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>
<body>
 
    <!-- MODAL INVESTOR DETAILS -->

    <div class="modal fade" id="myModal_investor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog pad_modal">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Register With Us</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-sm-12">

    <%= form_tag investor_details_path, class: "form-horizontal" do  %>

        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Name</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[name]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The Name',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Email</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[email]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The email',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Mobile</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[number]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The Mobile',  required: true %>
            </div>
        </div>
        <div class="row">
            <div class="actions" id="button_warning">
                <div class="col-sm-3 col-lg-2"></div>
                <div class="col-xs-5 col-sm-3 col-lg-3">
                <%= submit_tag 'Submit', :class => 'btn btn-warning btn-block', tabindex: "2" %>
                </div>
                
                <div class="col-xs-2 col-sm-3 col-lg-4"></div>
            </div> 
        </div>                     
     <% end %> 

                      </div>
                  </div>  
              
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
          </div>
      </div>
    </div>

<!-- MODAL INVESTOR DETAILS END -->

<!-- MODAL INVESTOR DETAILS FOR ANOTHER ACCOUNT -->

    <div class="modal fade" id="myModal_investor_another_acc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog pad_modal">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Register With a different account</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-sm-12">

    <%= form_tag investor_details_path, class: "form-horizontal" do  %>

        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Name</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[name]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The Name',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Email</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[email]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The email',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Mobile</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[number]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The Mobile',  required: true %>
            </div>
        </div>
        <div class="row">
            <div class="actions" id="button_warning">
                <div class="col-sm-3 col-lg-2"></div>
                <div class="col-xs-5 col-sm-3 col-lg-3">
                <%= submit_tag 'Submit', :class => 'btn btn-warning btn-block', tabindex: "2" %>
                </div>
                
                <div class="col-xs-2 col-sm-3 col-lg-4"></div>
            </div> 
        </div>                     
     <% end %> 

                      </div>
                  </div>  
              
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
          </div>
      </div>
    </div>

<!-- MODAL INVESTOR DETAILS FOR ANOTHER ACCOUNT END -->

<!-- MODAL INVESTOR DETAILS FOR RESEND EMAIL-->

    <div class="modal fade" id="myModal_investor_resend_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog pad_modal">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Resend Details</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-sm-12">

    <%= form_tag investor_details_path, class: "form-horizontal" do  %>

        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Name</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[name]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The Name',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Email</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[email]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The email',  required: true %>
            </div>
        </div>
        <div class="form-group">                
            <label class="control-label col-sm-3 col-lg-2"> Mobile</label>
            <div class="col-sm-9 col-lg-10">
            <%= text_field_tag "investor[number]", nil, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The Mobile',  required: true %>
            </div>
        </div>
        <div class="row">
            <div class="actions" id="button_warning">
                <div class="col-sm-3 col-lg-2"></div>
                <div class="col-xs-5 col-sm-3 col-lg-3">
                <%= submit_tag 'Submit', :class => 'btn btn-warning btn-block', tabindex: "2" %>
                </div>
                
                <div class="col-xs-2 col-sm-3 col-lg-4"></div>
            </div> 
        </div>                     
     <% end %> 

                      </div>
                  </div>  
              
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
          </div>
      </div>
    </div>

<!-- MODAL INVESTOR DETAILS FOR RESEND EMAIL END -->


<!-- MODAL INVESTOR MESSAGE -->

    <div class="modal fade" id="myModal_investor_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog pad_modal">
            <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Check Your Registered Email</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-lg-12">
                        You will get an email shortly.
                          </div>
                      </div> 
                  </div>              
            </div>
         </div>
    </div>

<!-- MODAL INVESTOR MESSAGE END -->

<!-- MODAL INVESTOR INVEST -->

    <div class="modal fade" id="myModal_investor_invest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog pad_modal">
            <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Click Below To Invest!</h4>
                  </div>
                  <div class="modal-body" id="button_warning">
                      <div class="row">
                          <div class="col-lg-12">
                    <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>                        
                          </div>
                      </div> 
                  </div>              
            </div>
         </div>
    </div>

<!-- MODAL INVESTOR INVEST END -->

<!-- MODAL CONTACT DETAILS -->

    <div class="modal fade" id="myModal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog pad_modal">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">We will contact you soon.</h4>
              </div>
              <div class="modal-body" id="button_warning">
                  <div class="row">
                      <div class="col-sm-12">

    <%= form_for Contact.new do |f| %>
                      <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <%= f.text_field :name, type: 'text', class: 'form-control', required: true, placeholder: 'Name',tabindex: '1', pattern: '[a-zA-Z. ]{1,50}'  %>
                                </div>                                
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <%= f.text_field :email, type: 'email', class: 'form-control', required: true, placeholder: 'Email address',tabindex: '2' %>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <%= f.text_field :phone, type: 'tel', class: 'form-control', required: true, placeholder: 'Mobile',tabindex: '3', pattern: '[0-9]{10}', maxlength: '10' %>
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="actions" id="button_warning">
                                <div class="col-lg-12 col-md-12 col-sm-12">                                
                                <div class="form-group">                                    
                                    <%= f.submit 'Send', :class => 'btn btn-warning', tabindex: "4" %> 
                                </div>
                                </div>
                            </div> 
                        </div> 
                        
                        <div class="row">
                            
                        </div>
                      
                    <% end %> 

                      </div>
                  </div>  
              
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
          </div>
      </div>
    </div>

<!-- MODAL CONTACT DETAILS END -->

<!-- MODAL USER MESSAGE -->

    <!-- <div class="modal fade" id="myModal_user_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog pad_modal">
            <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Alert Message</h4>
                  </div>
                  <div class="modal-body" id="button_warning">
                      <div class="row">
                          <div class="col-lg-12">
                        Please <a href="/users/sign_in"><b>LOGIN</b></a> to Invest.                        
                          </div>
                      </div> 
                  </div>              
            </div>
         </div>
    </div> -->

<!-- MODAL USER MESSAGE END -->

    <div class="navbar navbar-default navbar-fixed-top menu-back">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- <a class="navbar-brand" href="/">
                    <img src="/assets/logo/logo.png" class="navbar-brand-logo " alt="" />
                    <%= link_to(image_tag("logo.png")+"<br>Logout".html_safe, destroy_user_session_path, class: "align_center", method: :delete) %> 
                </a> -->
                 <span class="navbar-brand">
                    <!-- <img src="/assets/logo/logo.png" class="navbar-brand-logo " alt="" /> -->
                    <%= link_to(image_tag("/assets/logo/logo.png", class: "navbar-brand-logo"), root_path,  :method => :get) %> 
                </span>

            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown pad_bot6p">
                        <%= link_to 'WHY US<span class="caret"></span>'.html_safe, objective_path, :method => :get %>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>
                                <%= link_to "OBJECTIVE", objective_path, :method => :get %>
                            </li>                            
                            <li>                                
                                <%= link_to "TAX EFFICIENT INVESTING", tax_efficient_path, :method => :get %>
                            </li>                    
                           <!--  <li>
                                <a href="/safety">SAFETY</a>
                            </li> -->
                            <li>
                                <%= link_to "ABOUT US", team_path, :method => :get %>
                            </li>
                            <li>
                              <%= link_to "TESTIMONIALS", root_path(:anchor => 'testi') , :method => :get %>
                            </li>                           
                        </ul>
                    </li>

                    <li class="dropdown pad_bot6p">
                        <!-- <a href="/offer">WHAT WE OFFER<span class="caret"></span></a> -->
                        <%= link_to 'WHAT WE OFFER<span class="caret"></span>'.html_safe, offer_path, :method => :get %>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>                               
                                <%= link_to "FIXED DEPOSIT", offer_path(:anchor => 'o_fd') , :method => :get %>
                            </li>
                            <li>
                                <%= link_to "BONDS", offer_path(:anchor => 'o_bd') , :method => :get %>
                            </li>
                            <li>
                                <%= link_to "NCD'S", offer_path(:anchor => 'o_bd') , :method => :get %>
                            </li> 
                                              
                            <li class="dropdown">
                                <!-- <a href="/offer/#o_md">MUTUAL FUNDS<i class="right-caret"></i></a> -->
                                <%= link_to 'MUTUAL FUNDS <b class="right-caret"></b>'.html_safe, offer_path(:anchor => 'o_md') , :method => :get %>
                                <ul class="dropdown-menu sub-menu">                            
                                    <li>
                                        <%= link_to "EQUITY", offer_path(:anchor => 'o_eq') , :method => :get %>
                                    </li>
                                    <li>
                                        <%= link_to "DEBT", offer_path(:anchor => 'o_dt') , :method => :get %>
                                    </li>
                                </ul>
                            </li>                           
                        </ul>
                    </li>

                    <li class="dropdown pad_bot6p">                         
                        <%= link_to 'INVEST NOW', invest_path, :method => :get %>                     
                    </li>

                    <li class="dropdown pad_bot6p">                        
                        <%= link_to 'RESOURCES <span class="caret"></span>'.html_safe, top_funds_path, :method => :get %>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>                                
                          <%= link_to "TOP FUNDS", top_funds_path, :method => :get %>
                            </li>

                            <li class="dropdown">
                                
                                <%= link_to 'RUPEEVEST TOOLS <b class="right-caret"></b>'.html_safe, risk_profiling_path, :method => :get %>                        

                                <ul class="dropdown-menu sub-menu">                            
                                    <li>                                        
                        <%= link_to "INVESTMENT STRATEGY", risk_profiling_path, :method => :get %>
                                    </li>
                                    <li>                                        
                        <%= link_to "GOAL DRIVEN", return_expectation_path, :method => :get %>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">                                
                        <%= link_to "RESEARCH", research_path, :method => :get %>
                            </li>
                            <li>                               
                        <%= link_to "VIDEOS", academics_path, :method => :get %>
                            </li>
                            <li>
                                <a href="http://dhanhitmejari.in/" target = "_blank">BLOG</a>
                            </li>                                                                       
                                                     
                        </ul>
                    </li>            


                    <li class="dropdown pad_bot6p">                        
                        <%= link_to "CONTACT", contact_path, :method => :get %>
                    </li>

                    <% if user_signed_in? %>
                    <li class="dropdown pad_bot6p">
                         <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>                 
                    </li>
                    <% else %>
                    <li class="dropdown pad_bot6p">
                        <%= link_to "LOGIN", new_user_session_path, :method => :get %>
                    </li>
                    <% end %>

                </ul>
            </div>

        </div>
    </div>
    <!--./ Top Menu End -->
    


<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 -->

<%= yield %>

<!-- <div id="request-quote">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="text-center">
                        <h3>GET IN TOUCH WITH US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing  condimentum. </p>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form>
                        <div class="col-lg-12 col-md-12 ">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Notes" />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-warning">SUBMIT REQUEST</button>

                        </div>
                    </form>

                </div>
                <div class="col-lg-6 col-md-6">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. Consectetur adipiscing elit onec molestie non sem vel condimentum </p>
                        <small>Consectetur adipiscing elit</small>
                    </blockquote>

                </div>
            </div>

        </div>

    </div> -->
    <!--./ Request Quote End -->

<div id="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <!-- <i class="fa fa-building fa-2x"></i> -->
                    <span>A Small Introduction</span>                    
                    <p class="text-justify">RupeeVest helps you INVEST ONLINE in a simple, efficient and effective manner. RupeeVest helps retail investors make simple investment decisions. Whether it is to save tax, save money for your life goals, invest in equities, generate monthly income for family, or just track your investments, RupeeVest aims to be a one stop destination to manage money for every Indian.                  
                    </p>
                </div>                

                <div class="col-lg-4 col-md-4">
                    <!-- <i class="fa fa-sliders fa-2x"></i> -->
                    <span>Our location</span>
                    <br />
                    <p id="footer_list">    
                    Room No: 81, 5th Floor,
                    <br />
                    Stephen House, BBD Bag,
                    <br />
                    Kolkata-700001, India.                             
                    <br />
                    Call: +91-987-469-1177 ; +91-905-174-5006
                     <br />
                    mail: <a class="clr-white" href="mailto:info@rupeevest.com">info@rupeevest.com&nbsp;</a>  
                    </p>                  
                </div>
            </div>
        </div>
         </div>

    <!--./ footer-sec  End -->

    <div class="div-social-top">
        <div class="container">
        <i class="fa fa-envelope"></i><a href="mailto:info@rupeevest.com">info@rupeevest.com&nbsp;&nbsp;</a>  <i class="fa fa-mobile "></i>+91 987 469 1177  &nbsp;<a href= "http://maps.google.com/maps?ll=22.571411,88.350815&z=15&t=m&hl=en-US&gl=IN&mapclient=embed&cid=18209202087708110679" target="_blank" ><image src="/assets/logo/google_map_logo.png" class="img-rounded"></a>&nbsp;
              <a href="https://www.facebook.com/rupeevest" target="_blank">
                  <i class="fa fa-facebook-square "></i>
              </a>
              <a href="https://www.twitter.com/RupeeVest" target="_blank">
                  <i class="fa fa-twitter-square "></i>
              </a>
              <a href="https://plus.google.com/+Rupeevestdotcom" target="_blank">
                  <i class="fa fa-google-plus-square "></i>
              </a>
              <a href="https://www.linkedin.com/company/rupeevest/" target="_blank">
                  <i class="fa fa-linkedin-square "></i>
              </a>
              <a href=" https://www.pinterest.com/rupeevest/" target="_blank">
                  <i class="fa fa-pinterest-square "></i>
              </a>
        </div>
    </div>
    <!--./ Social Div End -->

    <div id="footser-end">
        <div class="container">
            <div class="row">
                <div  class="col-lg-8 col-md-8 col-sm-12">
                    <i class="font_p83">Mutual Funds are subject to market risk. Please read the offer document carefully before investing. | ARN-86752</i>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    © 2014 All Rights Reserved                    
                </div>
            </div>
        </div>
    </div>
    <!--./ footer-end End -->

</body>
</html>
